child_name            = "Firstname"
attendee_name         = "Firstname Lastname"
attendee_email        = "your@email.com"
notify_recipients     = "your@email.com"
kita_sender           = "kita.address@provider.de"
kita_subject_keywords = "Notbetreuung,Doodle"
schedule_cron         = "cron(19 7 ? * MON-FRI *)"
summary_schedule_cron = "cron(0 17 ? * FRI *)"
